[package]
name = "all-is-cubes-ui"
version = "0.5.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.65"
description = "User interface subsystem for the all-is-cubes engine."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
categories = ["games", "gui"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.5.0" }
exhaust = "0.1.0"
futures-core = { version = "0.3.17", default-features = false, features = ["alloc"] }
futures-task = { version = "0.3.17", default-features = false, features = [] }
image = { version = "0.24.2", default-features = false, features = ["png"] }
indoc = "1.0.3"
instant = "0.1.9"
log = { version = "0.4.14", default-features = false }
once_cell = "1.4.1"
thiserror = "1.0.22"

[dev-dependencies]
futures-channel = { version = "0.3.17", default-features = false, features = ["alloc"] }
futures-executor = { version = "0.3.17", default-features = false, features = ["std"] }
pretty_assertions = "1.2.0"
