[package]
name = "test-renderers"
version = "0.0.1"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.65"
description = "Rendering tests for all-is-cubes."
publish = false

# Tests use a custom test harness; among other reasons, we want to explicitly skip the
# tests if there is no GPU on the system rather than just making them “pass” falsely.

[lib]
doctest = false
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false

[[test]]
name = "test-raytracer"
doctest = false
harness = false

[[test]]
name = "test-wgpu"
doctest = false
harness = false

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.4.0", features = ["threads"] }
all-is-cubes-content = { path = "../all-is-cubes-content", version = "0.4.0" }
all-is-cubes-gpu = { path = "../all-is-cubes-gpu", version = "0.4.0", features = ["wgpu"] }
async_fn_traits = "0.1.1"
# Using clap for parsing test command-line arguments
clap = { version = "4.0.12", default-features = false, features = ["deprecated", "derive", "std", "suggestions"] }
exhaust = "0.1.0"
futures = { version = "0.3.21", default-features = false, features = ["alloc", "std"] }
image = { version = "0.24.2", default-features = false, features = ["png"] }
itertools = { version = "0.10.0", default-features = false, features = ["use_alloc"] }
send_wrapper = "0.6.0"
serde = { version = "1.0.126", default-features = false, features = ["derive"] }
serde_json = "1.0.64"
simplelog = "0.12.0"
# tinytemplate is already in the workspace's dependency tree via criterion,
# so let's use it for our output report template.
tinytemplate = "1.2.1"
# Using tokio for async test-running.
tokio = { version = "1.18.0", features = ["macros", "rt", "rt-multi-thread", "parking_lot", "sync"] }
wgpu = { version = "0.14.0", features = ["webgl"] }
