<!doctype html>
<head>
  <title>All is Cubes test-renderers report</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="./report.css">
</head>
<body>
  <table class="results-table">
    <thead><tr>
      <th>Test Case</th>
      <th><code>raytracer</code></th>
      <th><code>luminance</code></th>
      <th><code>wgpu</code></th>
    </tr></thead>
    {{ for test_case in statuses }}
      <tr>
        <td class="test-case-name-cell">
          <code>{test_case.id}</code>
        </td>
        {{ for cell in test_case.renderers }}
        <td class="test-outcome-cell">
          <div class="test-outcome">{cell.test_outcome}</div>
          {{ for comp_record in cell.comparisons }}
            <div class="comparison-record
            {{ if comp_record.show_expected_for_comparison }}comparison-record-with-diff{{ endif }}
            ">
              {{ if comp_record.show_expected_for_comparison }}
                <figure>
                  <img src="expected/{comp_record.expected_file_name}" title="Expected">
                  <figcaption>Expected</figcaption>
                </figure><!--
                --><figure>
                  <img src="diff/{comp_record.diff_file_name}" title="Diff">
                  <figcaption>Diff</figcaption>
                </figure>
              {{- endif -}}
              <figure>
                <img src="actual/{comp_record.actual_file_name}" title="Actual">
                <figcaption>
                  {{ if comp_record.show_expected_for_comparison }}Actual{{ endif }}
                  {comp_record.flawedness}
                </figcaption>
              </figure>
            </div>
          {{ endfor }}
        </td>
        {{ endfor }}
      </tr>
    {{ endfor }}
  </table>
</body>