# Rust (Cargo) build files
/target
/*/target

# JavaScript (NPM) build files
/all-is-cubes-wasm/node_modules
/all-is-cubes-wasm/dist
/all-is-cubes-wasm/pkg

# Copy of build files for web server
/all-is-cubes-server/static-all-is-cubes-wasm
