# We haven’t reached the point of making any non-breaking releases,
# so let’s hear about breaking changes.
avoid-breaking-exported-api = false

doc-valid-idents = ["glTF", "sRGB", "DirectX", "MagicaVoxel", "NaN", "OpenGL", "WebGL", "WebGPU"]
enforced-import-renames = [
    { path = "all_is_cubes::rerun_glue", rename = "rg" },
]
ignore-interior-mutability = [
    # Workaround for https://github.com/rust-lang/rust-clippy/issues/12951
    "all_is_cubes::block::Block", # contains ArcStr
    "all_is_cubes::block::BlockAttributes", # contains ArcStr
    "all_is_cubes::block::EvaluatedBlock", # contains ArcStr
    "all_is_cubes::tag::Tag", # not sure why this is needed and marking Handle is not sufficient
    "all_is_cubes::universe::Handle",
    "arcstr::ArcStr",
    "arcstr::SubStr",
    "test_renderers::harness::UniverseFuture", # contains futures::Shared but does not use it as key
]

# --- Configurations for "large values" kinds of lints ---
# It'd be nice if these were per-package/per-crate, but clippy doesn't support that,
# so we have to take the max.

# Would like this to be much smaller, but I was getting a span-less and therefore uncontrollable warning.
# TODO: find the cause and file a bug report.
array-size-threshold = 8192
# TODO: squeeze the UniverseTemplate futures a bit smaller — they're 4xxx bytes on 64-bit
future-size-threshold = 6000
pass-by-value-size-limit = 2048
# stack-size-threshold is generous, because it is highly overestimating
stack-size-threshold = 100_000
