# Configuration file for <https://crates.io/crates/cargo-deny>.
#
# When updating this, also review and update:
#    all-is-cubes-wasm/deny.toml
#    tools/about.toml
# especially ensuring that the list of licenses is consistent.

[graph]
# This list of features excludes the "rerun" and "gltf" features
# as they are only intended for testing (i.e. no binaries will be distributed
# with them enabled).
features = ["std", "arbitrary", "auto-threads", "save", "wgpu"]

[licenses]
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "ISC",
    "MIT",
    "MPL-2.0", # TODO: remove
    "Unicode-3.0",
    "Zlib",
]
private = { ignore = true }

[advisories]
yanked = "deny"
unmaintained = "all"
ignore = [
    "RUSTSEC-2024-0436", # paste is “done”, not relevantly unmaintained
]

[bans]
multiple-versions = "warn"
wildcards = "deny"
allow-wildcard-paths = true
# We might want to be stricter about default-features...
# workspace-default-features = "warn"
# external-default-features = "warn"

skip-tree = [
    { name = "criterion" }, # criterion is rarely updated but only used for benching
    { name = "bitflags", version = "=1.3.2", depth = 1 },
    { name = "hashbrown", version = "0.15", depth = 2 }, # waiting for bevy, ratatui, wgpu to catch up
    { name = "ndk", depth = 3 }, # winit and wgpu use different versions
    { name = "windows", depth = 3 },
    { name = "windows-sys", depth = 2 },
    { name = "windows-targets", depth = 2 },
    { name = "proc-macro-crate" },
    { name = "test-renderers" }, # test-only code not published
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = [
]
