[package]
name = "all-is-cubes-desktop"
version = "0.3.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.56"
# TODO: better description
description = "Recursive voxel game."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
# TODO: revisit categories once it's more settled what's in this package
categories = ["games", "rendering"]

[[bin]]
name = "all-is-cubes"
path = "src/main.rs"
doc = false # Do not overwrite library crate's documentation
bench = false

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.3.0" }
all-is-cubes-content = { path = "../all-is-cubes-content", version = "0.3.0" }
clap = "2.33.3"
crossterm = "0.21.0"
directories-next = "2.0.0"
glfw = "0.41"
indicatif = { version = "0.16.0", default-features = false }
log = { version = "0.4.14", default-features = false }
luminance = "0.44.0"
luminance-glfw = "0.16.0"
luminance-windowing = "0.10.0"
png = "0.17.0"
serde = { version = "1.0.126", default-features = false }
serde_json = "1.0.64"
simplelog = "0.10.0"
termion = "1.5.5" # TODO: Only used for ANSI color table. Remove?
tui = { version = "0.16.0", default-features = false, features = ["crossterm"] }
strum = { version = "0.22.0", default-features = false, features = ["derive"] }
