[package]
name = "all-is-cubes-desktop"
version = "0.6.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.65"
# TODO: better description
description = "Recursive voxel game."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
# TODO: revisit categories once it's more settled what's in this package
categories = ["games", "rendering"]
exclude = ["*.app", "*.desktop"]

[[bin]]
name = "all-is-cubes"
path = "src/main.rs"
doc = false # Do not overwrite library crate's documentation
bench = false

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.6.0", features = ["threads"] }
all-is-cubes-content = { path = "../all-is-cubes-content", version = "0.6.0" }
all-is-cubes-gpu = { path = "../all-is-cubes-gpu", version = "0.6.0", features = ["wgpu"] }
all-is-cubes-mesh = { path = "../all-is-cubes-mesh", version = "0.6.0" }
all-is-cubes-port = { path = "../all-is-cubes-port", version = "0.6.0" }
all-is-cubes-ui = { path = "../all-is-cubes-ui", version = "0.6.0" }
anyhow = { workspace = true }
bytemuck = { workspace = true }
clap = { workspace = true }
# Note: keep crossterm in sync with tui's crossterm dependency.
crossterm = "0.27.0"
directories-next = "2.0.0"
image = { workspace = true, features = ["png"] }
indicatif = { version = "0.17.0", default-features = false }
kira = { version = "0.8.3", default-features = false, features = ["cpal"] }
log = { workspace = true }
once_cell = { workspace = true }
png = "0.17.6"
rand = { workspace = true, features = ["std", "std_rng"] }
serde = { workspace = true }
serde_json = { workspace = true }
simplelog = { workspace = true }
softbuffer = { version = "0.3.0", default-features = false, features = ["x11"] }
strum = { workspace = true, features = ["derive", "std"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "sync"] }
tui = { version = "0.19.0", default-features = false, features = ["crossterm"] }
unicode-width = { version = "0.1.9", default-features = false }
# Note on feature selection: winit requires either "x11" or "wayland" to build at all on Linux, which is harmless elsewhere. I picked x11 because it should be the most compatible.
winit = { version = "0.28.1", default-features = false, features = ["x11"] }

[dev-dependencies]
gltf = "1.3.0" # for round-trip test; must match version of gltf-json
tempfile = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
trycmd = { workspace = true }
