[package]
name = "all-is-cubes-desktop"
version = "0.2.1"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2018"
# TODO: better description
description = "Recursive voxel game."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
# TODO: revisit categories once it's more settled what's in this package
categories = ["games", "rendering"]

[[bin]]
name = "all-is-cubes"
path = "src/main.rs"
doc = false  # Do not overwrite library crate's documentation
bench = false

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.2.0" }
cgmath = "0.18.0"
clap = "2.33.3"
crossterm = "0.19.0"
glfw = "0.41"
indicatif = "0.16.0"
log = "0.4.14"
luminance = "0.43.1"
luminance-front = "0.3.1"
luminance-glfw = "0.15.0"
luminance-windowing = "0.9"
png = "0.16.8"
simplelog = "0.10.0"
strum = { version = "0.20.0", features = ["derive"] }
termion = "1.5.5"  # TODO: Only used for ANSI color table. Remove?
