[package]
name = "all-is-cubes-desktop"
version = "0.4.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.62"
# TODO: better description
description = "Recursive voxel game."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
# TODO: revisit categories once it's more settled what's in this package
categories = ["games", "rendering"]

[[bin]]
name = "all-is-cubes"
path = "src/main.rs"
doc = false # Do not overwrite library crate's documentation
bench = false

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.4.0", features = ["rayon"] }
all-is-cubes-gpu = { path = "../all-is-cubes-gpu", version = "0.4.0", features = ["wgpu"] }
all-is-cubes-content = { path = "../all-is-cubes-content", version = "0.4.0" }
anyhow = "1.0"
bytemuck = { version = "1.7.2", default-features = false }
clap = { version = "3.1.1", default-features = false, features = ["cargo", "derive", "std", "suggestions"] }
# Note: keep crossterm in sync with tui's crossterm dependency.
crossterm = "0.23.2"
directories-next = "2.0.0"
dot_vox = "4.1.0" # TODO: belongs in a separate import/export lib
futures = { version = "0.3.17", default-features = false, features = ["std", "executor"] }
glfw = "0.44.0"
image = { version = "0.24.2", default-features = false }
indicatif = { version = "0.16.0", default-features = false }
log = { version = "0.4.14", default-features = false }
luminance-glfw = "0.18.2"
once_cell = "1.4.1"
png = "0.17.0"
rand = { version = "0.8.2", default-features = false, features = ["std", "std_rng"] }
serde = { version = "1.0.126", default-features = false }
serde_json = "1.0.64"
simplelog = "0.12.0"
softbuffer = "0.1.1"
strum = { version = "0.24.0", default-features = false, features = ["derive", "std"] }
termion = "1.5.5" # TODO: Only used for ANSI color table. Remove?
thiserror = "1.0.22"
tui = { version = "0.18.0", default-features = false, features = ["crossterm"] }
unicode-width = { version = "0.1.9", default-features = false }
# Note on feature selection: winit requires either "x11" or "wayland" to build at all on Linux, which is harmless elsewhere. I picked x11 because it should be the most compatible.
winit = { version = "0.26.1", default-features = false, features = ["x11"] }

[dev-dependencies]
trycmd = "0.13.1"
