[package]
name = "all-is-cubes-desktop"
version = "0.5.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.65"
# TODO: better description
description = "Recursive voxel game."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
# TODO: revisit categories once it's more settled what's in this package
categories = ["games", "rendering"]

[[bin]]
name = "all-is-cubes"
path = "src/main.rs"
doc = false # Do not overwrite library crate's documentation
bench = false

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.5.0", features = ["threads"] }
all-is-cubes-content = { path = "../all-is-cubes-content", version = "0.5.0" }
all-is-cubes-gpu = { path = "../all-is-cubes-gpu", version = "0.5.0", features = ["wgpu"] }
all-is-cubes-port = { path = "../all-is-cubes-port", version = "0.5.0" }
all-is-cubes-ui = { path = "../all-is-cubes-ui", version = "0.5.0" }
anyhow = "1.0"
bytemuck = { version = "1.12.1", default-features = false }
clap = { version = "4.0.12", default-features = false, features = ["cargo", "deprecated", "derive", "help", "std", "suggestions", "usage", "wrap_help"] }
# Note: keep crossterm in sync with tui's crossterm dependency.
crossterm = "0.25.0"
directories-next = "2.0.0"
futures = { version = "0.3.17", default-features = false, features = ["std", "executor"] }
image = { version = "0.24.2", default-features = false }
indicatif = { version = "0.17.0", default-features = false }
kira = { version = "0.7.0", default-features = false, features = ["cpal"] }
log = { version = "0.4.14", default-features = false }
once_cell = "1.4.1"
png = "0.17.6"
rand = { version = "0.8.2", default-features = false, features = ["std", "std_rng"] }
serde = { version = "1.0.126", default-features = false }
serde_json = "1.0.64"
simplelog = "0.12.0"
softbuffer = "0.1.1"
strum = { version = "0.24.0", default-features = false, features = ["derive", "std"] }
thiserror = "1.0.22"
tui = { version = "0.19.0", default-features = false, features = ["crossterm"] }
unicode-width = { version = "0.1.9", default-features = false }
# Note on feature selection: winit requires either "x11" or "wayland" to build at all on Linux, which is harmless elsewhere. I picked x11 because it should be the most compatible.
winit = { version = "0.27.2", default-features = false, features = ["x11"] }

[dev-dependencies]
gltf = "1.0.0" # for round-trip test
tempfile = "3.3.0"
trycmd = "0.14.1"
