[package]
name = "all-is-cubes-content"
version = "0.6.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.65"
description = "Demo/default game content for the all-is-cubes engine."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
categories = ["games"]

[package.metadata.docs.rs]
features = ["arbitrary"]

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false

[[bench]]
name = "gen_bench"
harness = false

[features]
# Adds `UniverseTemplate::Random`.
arbitrary = ["dep:arbitrary", "all-is-cubes/arbitrary"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.6.0" }
all-is-cubes-ui = { path = "../all-is-cubes-ui", version = "0.6.0" }
arbitrary = { workspace = true, optional = true }
exhaust = { workspace = true }
futures-core = { workspace = true }
# TODO: all-is-cubes should be reexporting image since the load_image module reveals it
image = { workspace = true }
instant = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
macro_rules_attribute = { workspace = true }
maze_generator = "2.0.0"
noise = { version = "0.8.2", default-features = false }
paste = "1.0.12"
petgraph = { version = "0.6.2", default-features = false, features = ["graphmap"] }
rand = { workspace = true }
rand_xoshiro = { workspace = true }
strum = { workspace = true, features = ["derive"] }

[dev-dependencies]
criterion = { workspace = true, features = ["async_futures"] }
pretty_assertions = { workspace = true }
# Using tokio for async test-running.
tokio = { workspace = true, features = ["macros", "rt"] }

