[package]
name = "all-is-cubes-content"
version = "0.5.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.65"
description = "Demo/default game content for the all-is-cubes engine."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
categories = ["games"]

[package.metadata.docs.rs]
features = ["arbitrary"]

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false

[[bench]]
name = "gen_bench"
harness = false

[features]
# Enables `UniverseTemplate::Random`.
# rand features are for `rand::thread_rng()`.
arbitrary = ["dep:arbitrary", "all-is-cubes/arbitrary", "rand/std", "rand/std_rng"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.5.0" }
all-is-cubes-ui = { path = "../all-is-cubes-ui", version = "0.5.0" }
arbitrary = { version = "1.1.6", optional = true, features = ["derive"] }
exhaust = "0.1.0"
futures-core = { version = "0.3.17", default-features = false, features = ["alloc"] }
# TODO: all-is-cubes should be reexporting image since the load_image module reveals it
image = { version = "0.24.2", default-features = false }
instant = "0.1.9"
itertools = { version = "0.10.0", default-features = false, features = ["use_alloc"] }
log = { version = "0.4.14", default-features = false }
macro_rules_attribute = "0.1.0"
maze_generator = "2.0.0"
noise = { version = "0.8.2", default-features = false }
paste = "1.0.5"
petgraph = { version = "0.6.2", default-features = false, features = ["graphmap"] }
rand = { version = "0.8.2", default-features = false }
rand_xoshiro = "0.6.0"
strum = { version = "0.24.0", default-features = false, features = ["derive"] }

[dev-dependencies]
criterion = { version = "0.4.0", features = ["async_futures", "cargo_bench_support", "html_reports"] }
# Note: This is a executor for tests and does not imply any more general requirement
# for using `futures-executor` with All is Cubes.
futures-executor = { version = "0.3.17", default-features = false, features = ["std"] }
pretty_assertions = "1.2.0"
