html, body {
  background: gray; /* ordinarily invisible, but makes initial loading better */
}

.viewport {
  cursor: crosshair;
}

.overlay-bounds {
  position: relative;  /* define a new positioning root */
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 .3em #000;
  margin: 0 0;
  display: table;
  pointer-events: none;
}
.overlay p, .overlay pre {
  margin: 0;
}
.overlay .object-chip {
  pointer-events: auto;
}

#scene-info-overlay {
  position: absolute;
  left: 1px;
  top: 1px;
}

/* --- main UI layout --- */

/* ensure that our content fills the window and has no layout-quirk scrollbars */
html, body {
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden; /* suppress extra margin in moz flexbox */
  display: flex;
  flex-direction: row;
}

.overlay-bounds {
  display: flex;
  flex: 1 1;
  height: 100%;
}
.viewport {
  flex: 1 1;
  display: block;
  width: 100%;
  height: 100%;
}

#loading-progress-bar {
  box-sizing: content-box;
  /* TODO: this is width of the text box container, right now */
  width: 100%;
}
.state-fully-loaded #loading-progress-bar {
  display: none;
}

/* --- block menu --- */

#menu-container { /* exists to support centering */
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  display: table;
  width: 100%;
}
#menu {
  pointer-events: auto;
  margin: 2px auto;
  background: #333;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  display: table;
  text-align: center;
  font-family: monospace;
}
.menu-item {
  display: inline-block;
  position: relative;
  margin: 1px 1px;
}
.menu-item td {
  margin: 0;
  padding: 0;
}
.menu-item canvas {
  vertical-align: middle; /* remove baseline gap */
}
.menu-shortcut-key {
  position: absolute;
  bottom: -1px;
  left: 1px;
}
#menu .selected-tool {
  border-radius: 5px;
  margin: -1px -1px; /* outlines don't have radius */
  border: 2px solid white;
  background: gray;
}

.ui-mode-hidden #menu { visibility: hidden; }
.ui-mode-hidden #quick-bar .menu-item { visibility: visible; }
.ui-mode-hidden #quick-bar { opacity: 0.75; }

/* ---  --- */

#error-notices {
  position: absolute;
  top: 5em;
  right: 50%;
  margin-right: -17em;

  z-index: 1;
}
.error-notice {
  border-radius: 2em;
  text-align: center;
  max-width: 30em;
  padding: 1em 2em;
  border: .2em solid red;
  
  background: white;
  color: black;
  font: message-box;
}

#toggles {
  position: absolute;
  top: 6px;
  right: 6px;
  text-align: right;
}
