[package]
name = "all-is-cubes-gpu"
version = "0.4.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.60"
description = "Optional GPU rendering implementation for the all-is-cubes crate."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
# TODO: revisit categories once it's more settled how useful this is as an engine
categories = ["games", "graphics", "rendering::engine"]

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false

[[test]]
# GLFW must be run on the main thread, so we must not use the multithreaded
# default test harness
name = "gpu-test"
harness = false

[features]
wgpu = ["dep:wgpu"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.4.0" }
bytemuck = { version = "1.7.2", default-features = false, features = ["derive"] }
instant = "0.1.9"
log = { version = "0.4.14", default-features = false }
luminance = { version = "0.46.0" }
once_cell = "1.4.1"
rand = { version = "0.8.2", default-features = false }
rand_xoshiro = "0.6.0"
resource = "0.5.0"
thiserror = "1.0.22"
wgpu = { version = "0.12.0", optional = true }

[target.'cfg(target_family = "wasm")'.dependencies]
wgpu = { version = "0.12.0", optional = true, features = ["webgl"] }

[dev-dependencies]
# These dependencies are used to set up a context for running tests
futures-executor = { version = "0.3.17", default-features = false, features = ["std"] }
glfw = "0.43.0"
luminance-glfw = "0.18.0"
