[package]
name = "all-is-cubes-gpu"
version = "0.4.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.57"
description = "Optional GPU rendering implementation for the all-is-cubes crate."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
# TODO: revisit categories once it's more settled how useful this is as an engine
categories = ["games", "graphics", "rendering::engine"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.4.0" }
instant = "0.1.9"
log = { version = "0.4.14", default-features = false }
luminance = { version = "0.46.0" }
once_cell = "1.4.1"
rand = { version = "0.8.2", default-features = false }
rand_xoshiro = "0.6.0"
resource = "0.5.0"
thiserror = "1.0.22"
