body {
    background: #222;
    color: white;
}

/* Test case matrix results table */

table.results-table {
    /* Overall centering */
    margin: auto;
    border-collapse: collapse;
}

.results-table tr {
    border-bottom: 2px solid black;
}

td.test-case-name-cell {
    text-align: left;
}

.results-table th,
.results-table td:not(.test-comparisons-cell) {
    /* Baseline align the test names and outcomes. */
    vertical-align: baseline;
    padding: .3em;
}
.results-table td.test-comparisons-cell {
    vertical-align: top;
}

/* Image comparisons */

.comparison-record {
    /** allowed but not required to go on the same line */
    display: inline-block;

    margin: 2px;
    border: 1px solid;
    border-radius: 10px;
    padding: 1px 6px; /* top and bottom of image are padded by their text */
    white-space: nowrap;
    
    /* Surround images with pure black except for their individual borders. */
    border-color: #444;
    background: black;
}

.comparison-record > * {
    vertical-align: top;
}

.comparison-record-with-diff {
    /* Both highlight errors, and group diff results together. */
    border-color: red;
}

.comparison-record details:not([open]) {
    /* allow <summary>s to appear on one line if they are closed */
    display: inline-block;
}
summary {
    cursor: pointer;
}
.comparison-record summary:hover {
    background: #444;
    color: white;
}

.diffcount {
    max-width: 200px;
    white-space: normal; /* override nowrap */
}

figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}
figure.actual {
    /* don't let it appear on the info+diff line */
    display: block;
}

figcaption, summary {
    font-size: 80%;
}

figure img {
    border: 1px dashed transparent;
    display: block;
    image-rendering: pixelated;
}
figure img:hover {
    border-color: #888;
}
figure.diff img {
    /* Diff images are always 1 pixel smaller all around. */
    padding: 1px;
}