[package]
name = "all-is-cubes-wasm"
version = "0.5.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.65"
description = "Web client for the recursive voxel game All is Cubes."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
categories = ["games", "wasm"]
# Disable publishing for now because if I understand correctly, publishing this _Rust_ package is mostly useless as it leaves behind all of the JS/static stuff. It would only be useful if there was a need to build something *else* that depends on the Rust code but none of the JS.
publish = false

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false
# There are some host-runnable unit tests (but we might move those...)
test = true
# Need "cdylib" for the final wasm module, and "lib" for building tests
crate-type = ["lib", "cdylib"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.5.0" }
all-is-cubes-content = { path = "../all-is-cubes-content", version = "0.5.0" }
all-is-cubes-gpu = { path = "../all-is-cubes-gpu", version = "0.5.0", features = ["wgpu"] }
all-is-cubes-port = { path = "../all-is-cubes-port", version = "0.5.0" }
all-is-cubes-ui = { path = "../all-is-cubes-ui", version = "0.5.0" }
console_log = "1.0.0"
console_error_panic_hook = "0.1.5"
form_urlencoded = "1.0.1"
futures-channel = "0.3.21"
# Feature enabling for indirect dependency all-is-cubes → rand → getrandom,
# as well as our direct dependency
getrandom = { version = "0.2.3", features = ["js"] }
# Feature enabling for indirect dependency all-is-cubes-content → maze_generator → rand → getrandom
getrandom_old = { package = "getrandom", version = "0.1.16", features = ["wasm-bindgen"] }
# Feature enabling for indirect dependency all-is-cubes → instant
instant = { workspace = true, features = ["wasm-bindgen"] }
js-sys = "0.3.58"
log = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true, features = ["std", "std_rng"] }
send_wrapper = "0.6.0"
wasm-bindgen = "0.2.84"
wasm-bindgen-futures =  "0.4.28"
wgpu = { workspace = true, features = ["webgl"] }

[dependencies.web-sys]
version = "0.3.22"
features = [
  "console",
  "AddEventListenerOptions",
  "CssStyleDeclaration", # HTMLElement.style for dynamic styling
  "DataTransfer", # file drag-and-drop
  "DataTransferItem",  # file drag-and-drop
  "DataTransferItemList", # file drag-and-drop
  "Document",
  "DomTokenList", # classList
  "DragEvent", # file drag-and-drop
  "Element",
  "EventTarget",
  "File",  # file drag-and-drop - DataTransferItem.getAsFile()
  "FocusEvent",
  "HtmlElement",
  "HtmlProgressElement",
  "KeyboardEvent",
  "Location",
  "MouseEvent",
  "Text",
  "Window",
]

[dev-dependencies]
wasm-bindgen-test = "0.3"
