[package]
name = "all-is-cubes-wasm"
version = "0.4.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.62"
description = "Web client for the recursive voxel game All is Cubes."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
categories = ["games", "wasm"]
# Disable publishing for now because if I understand correctly, publishing this _Rust_ package is mostly useless as it leaves behind all of the JS/static stuff. It would only be useful if there was a need to build something *else* that depends on the Rust code but none of the JS.
publish = false

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false
# There are some host-runnable unit tests (but we might move those...Z)
test = true
crate-type = ["cdylib"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.4.0" }
all-is-cubes-content = { path = "../all-is-cubes-content", version = "0.4.0" }
all-is-cubes-gpu = { path = "../all-is-cubes-gpu", version = "0.4.0", features = ["luminance", "wgpu"] }
console_log = "0.2"
console_error_panic_hook = "0.1.5"
form_urlencoded = "1.0.1"
futures-channel = "0.3.21"
# Feature enabling for indirect dependency all-is-cubes → rand → getrandom,
# as well as our direct dependency
getrandom = { version = "0.2.3", features = ["js"] }
# Feature enabling for indirect dependency all-is-cubes-content → maze_generator → rand → getrandom
getrandom_old = { package = "getrandom", version = "0.1.16", features = ["wasm-bindgen"] }
# Feature enabling for indirect dependency all-is-cubes → instant
instant = { version = "0.1.9", features = ["wasm-bindgen"] }
js-sys = "0.3.58"
log = { version = "0.4.14", default-features = false }
luminance = "0.47.0"
luminance-web-sys = "0.5.0"
luminance-webgl = "0.6.0"
once_cell = "1.4.1"
rand = { version = "0.8.2", default-features = false, features = ["std", "std_rng"] }
send_wrapper = "0.6.0"
wasm-bindgen = "0.2.70"
wasm-bindgen-futures =  "0.4.28"
wgpu = { version = "0.14.0", features = ["webgl"] }

[dependencies.web-sys]
version = "0.3.22"
features = [
  "console",
  "AddEventListenerOptions",
  "CssStyleDeclaration", # HTMLElement.style for dynamic styling
  "Document",
  "DomTokenList", # classList
  "Element",
  "EventTarget",
  "FocusEvent",
  "HtmlElement",
  "HtmlProgressElement",
  "KeyboardEvent",
  "Location",
  "MouseEvent",
  "Text",
  "Window",
  "WebGlContextAttributes",
]

[dev-dependencies]
wasm-bindgen-test = "0.3"
