[package]
name = "all-is-cubes-wasm"
version = "0.2.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2018"
description = "Web client for the recursive voxel game All is Cubes."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
categories = ["games", "wasm"]
# Disable publishing for now because if I understand correctly, publishing this _Rust_ package is mostly useless as it leaves behind all of the JS/static stuff. It would only be useful if there was a need to build something *else* that depends on the Rust code but none of the JS.
publish = false

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false
# There will never be tests runnable on the host environment
test = false
crate-type = ["cdylib"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.2.0" }
console_error_panic_hook = "0.1.5"
js-sys = "0.3.44"
luminance = "0.43.2"
luminance-front = "0.3.1"
luminance-web-sys = "0.2.2"
luminance-webgl = "0.3.1"
wasm-bindgen = "0.2.67"

[dependencies.web-sys]
version = "0.3.22"
features = [
  "console",
  "AddEventListenerOptions",
  "Document",
  "Element",
  "EventTarget",
  "HtmlElement",
  "KeyboardEvent",
  "MouseEvent",
  "Text",
  "Window",
]

[dev-dependencies]
wasm-bindgen-test = "0.3"
