[package]
name = "all-is-cubes-wasm"
version = "0.2.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2018"
description = "Web client for the recursive voxel game All is Cubes."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
categories = ["games", "wasm"]
# Disable publishing for now because if I understand correctly, publishing this _Rust_ package is mostly useless as it leaves behind all of the JS/static stuff. It would only be useful if there was a need to build something *else* that depends on the Rust code but none of the JS.
publish = false

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false
# There are some host-runnable unit tests (but we might move those...Z)
test = true
crate-type = ["cdylib"]

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.2.0" }
console_log = "0.2"
console_error_panic_hook = "0.1.5"
form_urlencoded = "1.0.1"
# Feature enabling for indirect dependency all-is-cubes → random → getrand
getrandom = { version = "0.2.3", features = ["js"] }
# Feature enabling for indirect dependency all-is-cubes → instant
instant = { version = "0.1.9", features = ["wasm-bindgen"] }
js-sys = "0.3.47"
log = { version = "0.4.14", default-features = false }
luminance = "0.44.0"
luminance-web-sys = "0.3.0"
luminance-webgl = "0.4.0"
wasm-bindgen = "0.2.78"

[dependencies.web-sys]
version = "0.3.22"
features = [
  "console",
  "AddEventListenerOptions",
  "Document",
  "Element",
  "EventTarget",
  "FocusEvent",
  "HtmlElement",
  "KeyboardEvent",
  "Location",
  "MouseEvent",
  "Text",
  "Window",
  "WebGlContextAttributes",
]

[dev-dependencies]
# wasm-pack is a command-line tool and is NOT depended on directly. 
# However, adding it to our dependencies lets the CI know that it should be cached.
wasm-pack = "0.10.1"
wasm-bindgen-test = "0.3"
