# Configuration file for <https://crates.io/crates/cargo-deny>.
#
# When updating this, also review and update:
#    ../deny.toml
#    ../tools/about.toml
# especially ensuring that the list of licenses is aligned.

[graph]
features = []

[licenses]
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "ISC",
    "MIT",
    "Unicode-3.0",
    "Zlib",
]
private = { ignore = true }

[advisories]
yanked = "deny"
unmaintained = "all"
ignore = [
    "RUSTSEC-2024-0436", # paste is “done”, not relevantly unmaintained
]

[bans]
multiple-versions = "warn"
wildcards = "allow" # TODO: should be deny, but triggers a bug I can't repro independently
allow-wildcard-paths = true
# We might want to be stricter about default-features...
# workspace-default-features = "warn"
# external-default-features = "warn"

skip = [
    { name = "rustc-hash" }, # lightweight, used by naga
    { name = "syn", version = "1" },
    { name = "miniz_oxide" },
    { name = "bitflags", version = "1" } # via `png`; will be updated next release
]

skip-tree = [
    { name = "rand", version = "0.8" }, # via `noise`
    { name = "windows-sys", depth = 2 },
    { name = "windows-targets", depth = 2 },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = [
]
