[package]
name = "all-is-cubes-server"
version = "0.1.2"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2018"
description = "Game server and text-mode utilities for the recursive voxel game All is Cubes."
readme = "../README.md"
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT"
# TODO: revisit categories once it's more settled what's in this package
categories = ["games", "rendering"]
include = ["static-all-is-cubes-wasm/**", "src/**"]

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false

[[bin]]
name = "aic-console"
bench = false
test = false # any testable code will be in lib

[[bin]]
name = "aic-server"
bench = false
test = false # any testable code will be in lib

[dependencies]
all-is-cubes = { path = "../all-is-cubes", version = "0.1.2" }
cgmath = "0.17.0"
itertools = "0.9.0"
once_cell = "1.4.1"
ordered-float = "2.0.0"
num-traits = "0.2.12"
rayon = "1.3.1"
static_dir = "0.1.3"
termion = "1.5.5"
tokio = { version = "0.2.22", features = ["macros"] }
typed-arena = "2.0.1"
warp = "0.2.5"
