[package]
name = "all-is-cubes"
version = "0.4.0"
authors = ["Kevin Reid <kpreid@switchb.org>"]
edition = "2021"
rust-version = "1.62"
description = "Recursive voxel game engine. Can be used for voxel raytracing."
# TODO: add homepage = "..." when we have one
repository = "https://github.com/kpreid/all-is-cubes"
license = "MIT OR Apache-2.0"
# TODO: revisit categories once it's more settled how useful this is as a game engine
categories = ["games", "graphics", "rendering::engine"]

[lib]
# Disable running as benchmark so that the default doesn't interfere with Criterion usage.
bench = false

[[bench]]
name = "chunk_bench"
harness = false

[[bench]]
name = "lighting_bench"
harness = false

[[bench]]
name = "mesh_bench"
harness = false

[[bench]]
name = "raycast_bench"
harness = false

[[bench]]
name = "space_bench"
harness = false

[features]
default = []

[dependencies]
arbitrary = { version = "1.1.6", optional = true, features = ["derive"] }
bitvec = { version = "1.0.0", default-features = false, features = ["alloc"] }
bytemuck = { version = "1.12.1", default-features = false }
cgmath = "0.18.0"
downcast-rs = "1.2.0"
embedded-graphics = "0.7.0"
exhaust = "0.1.0"
futures-core = { version = "0.3.17", default-features = false, features = ["alloc"] }
futures-task = { version = "0.3.17", default-features = false, features = [] }
# image is used for its common image data types (for HeadlessRenderer),
# and for PNG asset loading.
image = { version = "0.24.2", default-features = false, features = ["png"] }
indoc = "1.0.3"
instant = "0.1.9"
itertools = { version = "0.10.0", default-features = false }
log = { version = "0.4.14", default-features = false }
num-traits = "0.2.12"
once_cell = "1.4.1"
ordered-float = { version = "3.0.0", features = ["serde", "arbitrary"] }
ouroboros = "0.15.0"
rand = { version = "0.8.2", default-features = false }
rand_xoshiro = "0.6.0"
rayon = { version = "1.3.1", optional = true }
serde = { version = "1.0.126", default-features = false, features = ["derive"] }
thiserror = "1.0.22"

[dev-dependencies]
criterion = "0.4.0"
futures-channel = { version = "0.3.17", default-features = false, features = ["alloc"] }
futures-executor = { version = "0.3.17", default-features = false, features = ["std"] }
pretty_assertions = "1.2.0"
